@import '~@fluentui/react/dist/sass/References.scss';

.exampleHook {
  button .enabled {
    background: "[theme:themePrimary, default:#0078d7]" !important;
    color: "[theme:themeLight, default:#e3afb2]" !important;
  }
}

div.isSelected {
  background: "[theme:themePrimary, default:#0078d7]" !important;
  color: "[theme:white, default:#e3afb2]" !important;
}