
.progressRow div:first-child div span {
  white-space: nowrap,
}

.progressRowIcon {
  font-size: 18;
  margin: 5px;
  vertical-align: bottom;
  padding: 0px !important;
}

.progressTable tr {
  padding-top: 0px;
}

.progressTable tr:hover {
  background-color: lightgray;
  transition:all 0.4s ease;
}

.progressTable th {
  padding: 5px 10px 5px 10px;
  color: black;
  background-color: lightgray;
  border: none;
}

.progressTable td {
  padding: 2px 10px 5px 10px;
}
