@import '~@fluentui/react/dist/sass/References.scss';

.sampleForm {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
  button {
    padding: 10px;
    background: default;
    color: default;
    font-size: larger;
    font-weight: 600;
    // cursor: pointer;
  }

  button .enabled {
    background: "[theme:themePrimary, default:#0078d7]" !important;
    color: "[theme:themeLight, default:#e3afb2]" !important;
  }
}

div.isSelected {
  background: "[theme:themePrimary, default:#0078d7]" !important;
  color: "[theme:white, default:#e3afb2]" !important;
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.requestForm {
  height: auto;
  // display: grid;
  // max-width: 500px;

}

.displayFields {
  display: grid;
  grid-gap: 10px;
  max-width: 500px;
}

.editFields {
  display: grid;
  grid-gap: 10px;
  max-width: 500px;
}

.divField {
  display: flex;
  div:nth-child(1) { width: 150px; }
  div:nth-child(2) { font-weight: 600 ;}
}